:root {
  /* PRIMARY COLORS */
  --primary-color-1: #222222;
  --primary-color-2: #212529;
  --primary-color-3: #343a40;
  --primary-color-4: #495057;
  --primary-color-5: #868e96;
  --primary-color-6: #adb5bd;
  --primary-color-7: #e9ecef;
  --primary-color-8: #f8f9fa;

  /* OTHER COLORS */
  --other-colors-1: #63e6be;
  --other-colors-2: #3bc9db;
  --other-colors-3: #141414;
  --other-colors-4: #1098ad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    180deg,
    var(--primary-color-1) 0%,
    var(--primary-color-1) 49%,
    var(--primary-color-1) 100%
  );
  font-family: sans-serif;
}

main {
  display: flex;
  align-items: center;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

@media (max-width: 1100px) {
  main {
    width: 80vw;
  }
}

/* HEADER LINKS */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color-1);
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-links {
  display: flex;
}

.header-toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  border: none;
}

#header-bar {
  color: #1098ad;
  font-size: 2.5rem;
}

@media (max-width: 850px) {
  .header-toggle-button {
    display: flex;
  }

  .header-links {
    display: none;
    width: 100%;
    /* margin-left: auto; */
  }

  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-links {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .header-div-container {
    padding: 5px 5px;
  }

  .header-links.active {
    display: flex;
  }

  .header-div-container {
    background-color: var(--primary-color-3);
  }
}

.start-icon {
  display: flex;
  justify-content: center;
}

.header-div-container {
  display: grid;
  place-content: center;
  /* margin-right: 50px; */
}

.hlink:hover {
  color: var(--other-colors-2);
}

.header-div-container button {
  background-color: transparent;
  border: none;
  display: flex;
  place-content: center;
}

.header-div-container .far,
.header-div-container .fas {
  font-size: 2rem;
  background-color: transparent;
  border: none;
}

.hlink {
  text-decoration: none;
  color: whitesmoke;
  background: transparent;
  border: none;
  font-size: 1.1rem;
  margin-right: 25px;
  /* display: flex; */
  /* text-align: center; */
}

/* HEADER FIRST-LAST NAME AT LEFT */
.home-button1 {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-left: 25px;
  font-weight: bold;
  background-color: var(--other-colors-2);
  color: white;
  border: none;
  font-size: 1.8rem;
}
.home-button2 {
  padding: 0px 15px;
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  color: var(--primary-color-8);
  margin-left: 5px;
}

.main-container {
  margin-left: 30px;
}

.main-buttons {
  background-color: var(--primary-color-1);
  border: solid var(--primary-color-8) 2px;
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--primary-color-8);
  margin-top: 25px;
  font-weight: bold;
  box-shadow: 5px 5px 5px 0px var(--other-colors-3);
}

.main-btn1 {
  border: solid var(--other-colors-1) 2px;
}

.main-btn1:hover {
  border: solid var(--primary-color-8) 2px;
}

.main-img-container {
  position: relative;
}

.main-img {
  object-fit: cover;
  position: relative;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  opacity: 1;
  z-index: 0;
}

.main-img:hover {
  opacity: 0;
  transition: 0.3s;
}

.support-img {
  object-fit: cover;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: -1;
}

.img-border {
  background: var(--primary-color-4);
  width: 270px;
  height: 270px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -10;
  box-shadow: var(--other-colors-3) 0px 0 7px 5px;
}
h1 {
  font-size: 3rem;
  color: var(--primary-color-8);
  letter-spacing: 2px;
  margin-top: 10px;
}

h2 {
  font-size: 2rem;
  color: var(--primary-color-5);
}

h4 {
  font-size: 1.3rem;
  color: var(--primary-color-5);
}

p {
  color: var(--primary-color-7);
}

.main-h4 {
  color: var(--primary-color-6);
}

.main-p {
  color: var(--primary-color-6);
  line-height: 1.7;
  margin-top: 25px;
}

/* textual part */
.text-container {
  margin-left: 30px;
}
header h3 {
  margin-top: 100px;
  color: var(--primary-color-8);
  font-size: 1.5rem;
}

.underlines {
  display: grid;
  margin-top: 3px;
}

.underline {
  width: 7rem;
  height: 0.25rem;
  background: var(--other-colors-4);
  /* margin-right: auto; */
}

.und1 {
  background: var(--other-colors-2);
  width: 2rem;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

.und1,
.und2 {
  grid-column: 1;
  grid-row: 1;
}

.skills-text {
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-template-rows: auto auto auto; */
  justify-content: flex-start;
  place-content: center;
  /* margin-left: 200px;
  margin-right: 200px; */
}

.skills-text-parent {
  margin-top: 40px;
  padding: 10px 10px;
  box-shadow: none;
  border: none;
  /* border: solid 2px var(--other-colors-1); */
  background: var(--primary-color-4);
  border-radius: 8px;
  margin-right: 40px;
  margin-left: 40px;
  max-width: 400px;
  position: relative;
  box-shadow: var(--other-colors-3) 2px 2px 4px 3px;
}

.skills-text-parent:hover {
  border: solid var(--primary-color-8) 2px;
  transform: scale(1.05);
}

.skills-text-parent:hover .fab,
.skills-text-parent:hover .fas {
  color: var(--primary-color-1);
}

.fab,
.fas,
.far {
  font-size: 3rem;
  color: var(--primary-color-6);
}

.skills-text-parent:hover .fa-link {
  color: var(--other-colors-2);
}

.icon-between-text1 {
  position: absolute;
  bottom: 60px;
  left: -65px;
}

.skills-title {
  margin-top: 5px;
}

.skills-paragraph {
  line-height: 1.4;
  margin-top: 5px;
}

.about {
  display: grid;
  place-content: center;
}

.about-icon {
  font-size: 1.5rem;
  color: var(--other-colors-2);
  margin-top: 10px;
}

footer {
  margin-top: 150px;
  height: 75px;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: var(--primary-color-1);
}

.media {
  color: var(--other-colors-2);
  background: transparent;
  border: none;
  margin-right: 20px;
}

.footer-icon {
  font-size: 40px;
}

.footer-icon:hover {
  color: var(--other-colors-2);
}

.btn-scroll-top {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 100;
  text-decoration: none;
  color: var(--primary-color-8);
  text-align: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn-scroll-top-icon:hover,
.btn-scroll-top-icon:active {
  color: var(--other-colors-2);
}

/* MODAL */

.main-modal-container {
  display: grid;
  place-content: center;
}

.modal-container {
  position: fixed;
  top: 0vh;
  left: 0vw;
  margin: 10vh 10vw;
  height: 730px;
  width: 80vw;
  min-width: 700px;
  background-color: var(--primary-color-3);
  border-radius: 10px;
  -webkit-animation-name: animateright;
  -webkit-animation-duration: 0.4s;
  animation-name: animateright;
  animation-duration: 0.4s;
  display: flex;
  justify-content: center;
}

/* @media screen and (max-width: 1000px) {
  .modal-container {
    width: 50vw;
  }
} */

.hidden {
  display: none;
}

.modal {
  display: grid;
  place-items: center;
}

.modal h3 {
  line-height: 1.7;
  color: var(--primary-color-6);
  margin: 0px 50px;
  font-weight: 400;
}

/* select all child elements of modal */
.modal > * {
  max-width: 80%;
}

/* select all children */
.Contact-modal .modal > * {
  margin-bottom: 20px;
  margin: auto, 20px;
}
.close {
  margin-top: 10px;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: var(--primary-color-2);
  color: var(--other-colors-2);
  position: absolute;
  top: 20px;
  right: 20px;
}

.close:hover {
  background-color: var(--other-colors-4);
  color: var(--primary-color-8);
}

@keyframes animateright {
  from {
    left: 700px;
    opacity: 0;
  }
  to {
    left: 0vw;
    opacity: 1;
  }
}

.probni {
  display: none;
}

.skillbtn1:hover,
.skillbtn2:hover,
.skillbtn3:hover,
.skillbtn4:hover,
.skillbtn5:hover,
.skillbtn6:hover,
.skillbtn7:hover,
.skillbtn8:hover,
.skillbtn9:hover,
.skillbtn10:hover,
.skillbtn11:hover,
.skillbtn12:hover,
.skillbtn13:hover {
  font-size: 0px;
}

.skillbtn1:hover .probni,
.skillbtn2:hover .probni,
.skillbtn3:hover .probni,
.skillbtn4:hover .probni,
.skillbtn5:hover .probni,
.skillbtn6:hover .probni,
.skillbtn7:hover .probni,
.skillbtn8:hover .probni,
.skillbtn9:hover .probni,
.skillbtn10:hover .probni,
.skillbtn11:hover .probni,
.skillbtn12:hover .probni,
.skillbtn13:hover .probni {
  display: inline-block;
}

.slider-container {
  width: 800px;
  height: 492px;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  /* transition: all 0.5s ease-in-out; */
}

.video-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  /* transition: all 0.5s ease-in-out; */
}

.video-slide iframe {
  width: 100%;
  /* object-fit: cover; */
  position: absolute;
  /* transition: all 0.5s ease-in-out; */
}

/* .video-slide iframe:nth-child(2) {
  left: 100%;
} */

.slide-img {
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.btn-slider {
  background-color: transparent;
  border: none;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-slider:hover .fas {
  color: var(--other-colors-4);
}
